<section class="hero is-dark is-medium">
    <div class="hero-body">
      <div class="container has-text-centered">
        <h1 class="title is-1">Contact Me</h1>
        <p>Interested in having me build your next website? Or in having me on your next web development team? Email or call me to get in touch!</p>
        <p>Please provide your name, contact information, and a short description of what kind of project you are looking to develop.</p>
        <div class="gap">
          	<a href="mailto:julian@juilaindesignstudio.com" class="email">julian@juilaindesignstudio.com</a>
        </div>
      </div>
    </div>
</section>

