<section class="container gap body">
	<h1 class="has-text-centered title is-1">Contact Me</h1>
    <div class="hero-body">
      	<div class=" content has-text-centered is-5">
			<p>Interested in having me build your next website, or in having me on your next <br />web development team?</p>
			<p>Email me to get in touch!</p>
        	<div class="gap">
        		<a href="mailto:julian@juilaindesignstudio.com" class="email is-red is-3">julian@juilaindesignstudio.com</a>
        	</div>
      </div>
    </div>
</section>

