<section class="container is-dark is-medium">
	<div class="columns is-variable is-1">
		<div class="column is-8">
			<h2>{{ post.title }}</h2>
		</div>
	</div>
	<div class="columns is-variable is-3">
		<div class="column is-8">
			<figure class="media-left">
				<img class="image" [src]="post.images[0]" alt="lil-cloud">
			</figure>
		</div>
		<div class="column is-4">
			<table class="table is-hoverable is-bordered is-dark">
				<tr>
					<th>Project date</th>
					<td>{{ post.date }}</td>
				</tr>
				<tr>
					<th>Client</th>
					<td>{{ post.client }}</td>
				</tr>
				<tr>
					<th>Project URL</th>
					<td>{{ post.project_url }}</td>
				</tr>
			</table>

			<ul class="project-skills" *ngFor="let skill of post.skills">
				<li>{{ skill }}</li>
			</ul>
		</div>
	</div>
	<div class="columns is-variable is-3">
		<div [innerHTML]="post.styling | safe: 'html'"></div>
		<div class="column is-8 lightfont" [innerHTML]="post.body | safe: 'html'"></div>
  	</div>
</section>
