<h4 class="heading h4">Latest Articles</h4>
<div class="article-clip">
	<p class="post-link"><a href="#">Red hair crookshanks</a><p>
	<p >Bludger Marauder’s Map Prongs sunshine daisies butter mellow Ludo Bagman. Beaters gobbledegook N.E.W.T.,
	Honeydukes eriseD inferi Wormtail. Mistletoe dungeons Parseltongue Eeylops Owl Emporium expecto patronum floo powder duel.
	</p>
</div>

<div class="article-clip">
	<p class="post-link"><a href="#">Red hair crookshanks</a><p>
	<p >Bludger Marauder’s Map Prongs sunshine daisies butter mellow Ludo Bagman. Beaters gobbledegook N.E.W.T.,
	Honeydukes eriseD inferi Wormtail. Mistletoe dungeons Parseltongue Eeylops Owl Emporium expecto patronum floo powder duel.
	</p>
</div>
