<section class="container is-dark is-medium gap">
	<div class="columns is-multiline is-desktop">
		<div *ngFor="let post of posts" class="column is-one-quarter">
			<article class="media">
				<div class="media-content">
					<figure>
						<img class="image" [src]="post.images[0]" alt="lil-cloud">
					</figure>
					<div class="content">
						<p><a class="profile-name" [routerLink]="['/posts', post.id ]"  >{{ post.title }}</a></p>
						<div class="byline-meta">
							<small>
								<span class="name">{{ post.author }}</span> |
								<span class="date">{{ post.date }}</span>
							</small>
						</div>
						<div [innerHTML]="post.body | safe: 'html'"></div>
					</div>
				</div>
			</article>
		</div>
	</div>
</section>

