article.media {
	-webkit-box-shadow: 0 0 5px 2px rgba(10, 10, 10, 0.7), 0 0 0 1px rgba(10, 10, 10, 0.1);
	box-shadow: 0 0 5px 2px rgba(10, 10, 10, 0.7), 0 0 0 1px rgba(10, 10, 10, 0.1);
}

.media-content {
	background: white;
}

.media-content > .content {
	padding: 5px 10px 10px;
	min-height: 246px;
	position: relative;
}

small {
	color: rgba(80, 80, 80, .7);
}

.read-more {
	text-align: right;
	padding-top: 5px;
}

.profile-name {
	color: #ff3860;
	font-size: 20px;
	font-weight: 600;
	padding: 5px 0;
}

.profile-name:hover, .profile-name:focus, .profile-name:active {
	color: #c2314e;
}

.excerpt {
	color: #161616;
}
