@import '../node_modules/bulma/css/bulma.css';
/* You can add global styles to this file, and also import other style files */
@font-face {
	font-family: "Monaco";
	src: url("/assets/fonts/monaco.ttf");
  }

html {
	background-color: #292929;
}
body {
  background-color: #363636;
  font-family: "Monaco", Monaco, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
}

.container {
	max-width: 1200px;
	width: 1200px;
}

.body, .hero.is-medium .hero-body {
	padding-bottom: 8rem;
	padding-top: 1rem;
}

.footer {
	min-height: 60px;
	background-color: #292929;
}

.navbar-brand {
  margin: auto;
}

a.active {
  background-color: #292929;
}

.gap {
  margin-top: 60px;
}

.card {
  -webkit-box-shadow: 0 2px 5px rgba(10, 10, 10, 0.7), 0 0 0 1px rgba(10, 10, 10, 0.1);
  box-shadow: 0 2px 5px rgba(10, 10, 10, 0.7), 0 0 0 1px rgba(10, 10, 10, 0.1);
}

.hero.is-dark a:not(.button):not(.dropdown-item):not(.tag).email, .hero.is-dark strong {
  color: #ff3860;
  font-size: 32px;
  font-weight: 300;
}

.profile-name {
  color: #ff3860;
  font-size: 20px;
  font-weight: 600;
}

.image.is-256 {
  height: 256px;
  width: 256px
}

.is-red, .title {
	color: #ff3860;
}

.is-3 {
	font-size: 32px;
	letter-spacing: 1.5px;
}

.is-4 {
	font-size: 24px;
}

.is-5 {
	font-size: 20px;
}

.heading {
	color: #ff3860;
	padding-bottom: 10px;
	font-weight: 500;

}


